In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('countries.xlsx')
countries_df = pd.DataFrame(df)

In [3]:
display(countries_df)

     ID               coutries
0    AF            Afghanistan
1    AL                Albania
2    AQ             Antarctica
3    DZ                Algeria
4    AS         American Samoa
..   ..                    ...
236  WF      Wallis and Futuna
237  WS                  Samoa
238  YE                  Yemen
239  CS  Serbia and Montenegro
240  ZM                 Zambia

[241 rows x 2 columns]